/*VARIABLE COLOURS*/

:root {
    --rose: #c4848a;
    --charcoal: #2c2c2c;
    --nude: #e8d5c4;
    --white: #fafaf8;
    --light-grey: #f5f0eb;
}

/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--white);
    color: var(--charcoal);
    font-family: 'DM Sans', sans-serif;
}

/*NAV BAR*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--nude);
}

.logo img{
    height: 100px;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a{
    text-decoration: none;
    color: var(--charcoal);
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color: var(--rose);
}

.hamburger{
    display: none;
    font-size: 24px;
    cursor: pointer;
}


/*HERO*/

#hero{
    min-height: 90vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
    padding: 80px 20px;
    position: relative;
    overflow: hidden;
}

#hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(ellipse at center, rgba(196, 132, 0.1) 0% transparent 70%)
}

.hero-content{
    position: relative;
    z-index: 1;
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}

.hero-content .btn{
    opacity: 1;
}


.hero-content h1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 72px;
    font-weight: 600;
    line-height: 1.1;
    color: var(--charcoal);
    margin-bottom: 24px;
    animation: fadeInUp 1s ease forwards;
}

.hero-content h1 span{
    color: var(--rose);
    font-style: italic;
}

.hero-content p{
    font-size: 16px;
    color: #888;
    letter-spacing: 1px;
    margin-bottom: 40px;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.3s;
    opacity: 0;
}

/*BUTTON*/

.btn{
    display: inline-block;
    padding: 16px 48px;
    background-color: var(--rose);
    color: var(--white);
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    transition:all 0.3s ease;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0s;
    opacity: 0;
}

.btn:hover{
    background-color: var(--charcoal);
}

/*PRODUCTS*/

#products{
    padding: 100px 60px;
    background-color: var(--white);
    text-align: center;
    margin-bottom: 25px;
}

#products h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;
    color: var(--charcoal);
    text-align: center;
    ;
}

.section-subtitle{
    font-family: 'Cormorant Garamond', serif;
    font-size: 48px;
    font-weight: 600;
    color: var(--charcoal);
    margin-bottom: 12px;
    color: var(--charcoal);
    text-align: center;
    margin-bottom: 40px;
    
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.product-card{
    background-color:var(--light-grey) ;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.product-card:hover{
    transform: translateY(-8px);
}

.product-card img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: top;
}

product-card h3{
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    font-weight: 500;
    margin: 20px 20px 8px;
    color: var(--charcoal);
}

.product-card p{
    font-size: 13px;
    color: #888;
    margin: 0 20px 20px;
    letter-spacing: 1px;
}

.product-card .btn{
    margin: 0 20px 24px;
    opacity: 1;
    animation: none;
    padding: 12px 32px;
}

/*ANIMATIONS*/

@keyframes fadeInUp{
   from{
    opacity: 0;
    transform: translateY(30px);
   }

   to{
    opacity: 1;
    transform: translateY(0);
   }
}

/*MOBILE RESPONSIVENESS*/

@media(max-width: 768px){
    nav{
        padding: 20px 24px;
    }

    .nav-links{
        display: none;
    }

    .hamburger{
        display: block;
    }


    #products{
        padding: 60px 24px;
    }

    .products-grid{
        grid-template-columns: 1fr;
    }

    .product-card img{
        height: 380px;
    }

    .logo img{
        height: 60px;
    }

    #products h2{
        font-size: 32px;
    }

    .btn{
        display: inline-block;
    }

    .hero-content h1{
        font-size: 38px;
    }

    .hero-content{
        text-align: center;
    }

    .hero-content .btn{
        display: inline-block;
        width: auto;
        padding: 14px 36px;
    }

    .section-subtitle{
        font-size: 14px !important;
        font-family: 'DM Sans', sans-serif !important;
        font-weight: 500;
    }
}


/*ABOUT*/

#about{
    padding: 100px 60px;
    background-color: var(--nude);
    text-align: center;
}

#about h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 12px;
    color: var(--charcoal);
}

.about-text{
    max-width: 650px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.8;
    color: #555;
    margin-top: 24px;
}

/*CONTACT*/

#contact{
    padding: 100px 60px;
    background-color: var(--white);
    text-align: center;
}

#contact h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 12px;
    color: var(--charcoal);
}

.contact-links{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.btn-outline{
    background-color: transparent;
    border: 2px solid var(--rose);
    color: var(--rose);
}

.btn-outline:hover{
    background-color: var(--rose);
    color: var(--white);
}

/*FOOTER*/

footer{
    padding: 40px 60px;
    background-color: var(--charcoal);
    text-align: center;
}

footer p{
    color: #888;
    font-size: 13px;
    letter-spacing: 1px;
}

/*MOBILE RESPONSIVENESS*/

@media(max-width: 768px){
    #about{
        padding: 60px 24px;
    }

    #contact{
        padding: 60px 24px;
    }

    #about h2, #contact h2{
        font-size: 32px;
    }

     .contact-links{
        flex-direction: column;
        align-items: center;
     }
}

/*SCROLL ANIMATION*/

.hidden{
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease, transform 0.6s ease;
}

.visible{
    opacity: 1;
    transform: translateY(0);
}

.nav-links.active{
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding: 20px;
    gap: 20px;
    border-bottom: 1px solid var(--nude);
    z-index: 99;
}

.order-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    margin: 30px auto;
}

.order-form input, .order-form select{
    padding: 14px;
    border: 1px solid var(--nude);
    background-color: var(--light-grey);
    font-family: 'DM Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    color: var(--charcoal);
}

.order-form input:focus, .order-form select:focus{
    outline: none;
    border-color: var(--rose);
}

.order-form .btn{
margin-top: 10px;
opacity: 1;
animation: none;
}

.order-note{
    margin-top: 12px;
    font-size: 13px;
    color: #888;
    letter-spacing: 1px;
}


.cart-icon{
    position: relative;
    cursor: pointer;
    font-size: 24px;
    display: flex;
}

.cart-count{
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--rose);
    color: var(--white);
    font-size: 10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-select{
    width: calc(100% - 40px);
    margin: 0 20px 12px;
    padding: 10px 14px;
    border: 1px solid var(--nude);
    background-color: var(--white);
    font-family: 'DM Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    color: var(--charcoal);
    cursor: pointer;
}

.size-select:focus{
    outline: none;
    border-color: var(--rose);
}

/*CART STYLE*/

.cart-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 200;
}

.cart-drawer{
    position: fixed;
    top: 0;
    right: -400px;
    width: 380px;
    height: 100%;
    background-color: var(--white);
    z-index: 300;
    padding: 30px;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
}

.cart-drawer.open{
    right: 0;
}

.cart-overlay.open{
    display: block;
}

.cart-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.close-cart{
    cursor: pointer;
    font-size: 18px;
}

.cart-items{
    flex: 1;
    overflow-y: auto;
}

.cart-footer{
    border-top: 1px solid var(--nude);
    padding-top: 20px;
    margin-top: 20px;
}

.cart-total{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.cart-footer .btn{
    width: 100%;
    text-align: center;
    opacity: 1;
    animation: none;
}

.cart-item{
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid var(--nude);
}

.cart-item img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: top;
}

.cart-item-info{
    flex: 1;
}

.cart-item-name{
    font-family: 'Coromant Garamond', serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

.cart-item-price{
 font-size: 14px;
 color: var(--rose);
 font-weight: 500;
}

.cart-item-size{
    font-size: 12px;
    color: #888;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

.cart-item-qty{
    font-size: 14px;
    color: #888;
    letter-spacing: 1px;
}


/*ROMOVE BUTTON*/

.remove-btn{
    background: none;
    border: none;
    color: var(--rose);
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

/*QTY BUTTON*/

.qty-btn{
    background: none;
    border: 1px solid var(--nude);
    color: var(--charcoal);
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.qty-btn:hover{
    background-color: var(--rose);
    color: var(--white);
    border-color: var(--rose);
}

.cart-item-qty{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}